@import 'tailwindcss';

@theme {
	--color-bg: #131313;
	--color-text: #dddddd;
	--color-accent: #9471ed;
	--color-accent-dark: #18103a;
	--text-small: 0.75rem;
	--text-medium: 1rem;
	--text-large: 1.75rem;
}

body {
	background-color: var(--color-bg);
	color: var(--color-text);
	font-size: var(--text-medium);
	font-family: monospace;
	letter-spacing: var(--tracking-tight);
}

body::-webkit-scrollbar {
    width: 6px;
}

body::-webkit-scrollbar-track {
    background: var(--color-bg);
}

body::-webkit-scrollbar-thumb {
    background: var(--color-text);
}

@supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--color-text)
        var(--color-bg);
    }
}