/* Fixes base being applied last */
@import 'tailwindcss/theme'; /* variables */
@import 'tailwindcss/preflight'; /* base/reset */
@import 'tailwindcss/utilities'; /* components + utilities */

@theme {
	--color-bg: #131313;
	--color-text: #dddddd;
	--color-accent: #9471ed;
	--color-accent-dark: #18103a;
	--text-medium: 1rem;
	--text-large: 1.75rem;
	--font-clockicons: ClockIcons;
	--spacing-sidebar: 10rem;
}

body {
	background-color: var(--color-bg);
	color: var(--color-text);
	font-size: var(--text-medium);
	font-family: monospace;
	letter-spacing: var(--tracking-tight);
}

*::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

*::-webkit-scrollbar-track {
	background: var(--color-bg);
}

*::-webkit-scrollbar-thumb {
	background: var(--color-text);
}

@supports not selector(::-webkit-scrollbar) {
	* {
		scrollbar-color: var(--color-text) var(--color-bg);
	}
}

@font-face {
	font-family: 'ClockIcons';
	src: url('/fonts/clockicons.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
